@model ProjectListViewModel

    <div class="container mt-5 mb-5">
        <hr />
        <hr />
        <div class="currencies float-left">
            <h2>
                Все проекты
            </h2>

        </div>
        <hr />
        <hr />
        <hr />
        <style>
            button {
                border: 2px solid #e34761; /* Параметры рамки */
                background: #f3dbdf; /* Цвет фона */
                font-size: 14px; /* Размер текста */
                padding: 5px 20px; /* Поля вокруг текста */
            }
        </style>

        @foreach (var el in Model.ProjectModels.Projects)
        {
            <td>Название проекта: @el.Name</td>
            <br>
            <td>ID проекта: @el.Id</td>
            <br>
            <a class="" asp-controller="ProjectPage" asp-action="getProjectId" asp-route-id="@el.Id">Перейти на проект</a>
            <br>
            <hr />
        }
        <hr />
        <hr />
        <a class="btn badge-light border-dark" href="/Project/Presentation">Добавить проект</a>

    </div>
