@model HomeViewModel

    <div class="row mt-5 mb-5">
        <div class="currencies float-left">
            <h2>
                Общий график разработки ИСУГ
            </h2>
            
        </div>
    </div>