@model Stages

<div class="container  mt-5 mb-5">
    <hr />
    <hr />
    <div class="currencies float-left">
        <h2>
            Добавление значения
        </h2>

    </div>
    <hr />
    <hr />

    <form asp-action="AddStage" method="post" class="form">
        <hr />
        <hr />
        <div class="form-group">
            <label asp-for="Id"></label>
            <div class="col-md-12">
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Stage"></label>
            <div class="col-md-12">
                <input asp-for="Stage" class="form-control" />
                <span asp-validation-for="Stage" class="text-danger"></span>
            </div>
        </div>
        <input class="btn btn-success" type="submit" value="Добавить в таблицу" />
    </form>
</div>