@model RestrictionsPageViewModel
<div>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="navbar-collapse" id="navbarСollapse">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Главная</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/MeetingPage/GetList">Встречи по проекту</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Restrictions/Index">Ограничения</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/GeneralInformation/Index">Исполнение проекта</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/ProjectPage/Index">Подробная информация</a>
                    </li>

                </ul>

                <form class="form-inline mt-2 mt-md-0">
                    <a class="nav-link" href="/Account/Logout">Выйти</a>
                </form>
            </div>
        </nav>

    </header>
    <br />
    <br />
    <h2>
        Таблицы ограничений проекта <br />
    </h2>
    <style type="text/css">
        body {
        }

        table {
            width: 100%; /* Ширина таблицы */
        }

        td {
            padding: 9px 8px;
            width: 100px;
        }

            td.col1 {
                background: red;
                color: white;
            }

            td.col2 {
                background: orange;
                color: gray;
            }

            td.col3 {
                background: green;
            }
    </style>
    <table class="table table-bordered">
        <tr>
            <td>Название</td>
            @foreach (var item in Model.RestrictionsPage.Restrictions)
            {
                if (item.ProjectId.Equals(RestrictionsPageViewModel.ProjectId))
                {
                    <td>@item.DateTime</td>
                }
            }
        </tr>
        <tr>
            <td>Финансы</td>

            @foreach (var item in Model.RestrictionsPage.Restrictions)
            {
                if (item.ProjectId.Equals(RestrictionsPageViewModel.ProjectId))
                {
                    @if (item.Finance != null && item.Finance.Equals("Хорошо"))
                    {
                        <td class="col3"></td>
                    }
                    else if (item.Finance != null && item.Finance.Equals("Плохо"))
                    {
                        <td class="col1"></td>
                    }
                    else
                    {
                        <td class="col2"></td>
                    }


                }
            }
        </tr>
        <tr>
            <td>Архитектура</td>
            @foreach (var item in Model.RestrictionsPage.Restrictions)
            {
                if (item.ProjectId.Equals(RestrictionsPageViewModel.ProjectId))
                {
                    @if (item.Architecture != null && item.Architecture.Equals("Хорошо"))
                    {
                        <td class="col3"></td>
                    }
                    else if (item.Architecture != null && item.Architecture.Equals("Плохо"))
                    {
                        <td class="col1"></td>
                    }
                    else
                    {
                        <td class="col2"></td>
                    }
                }
            }
        </tr>
        <tr>
            <td>Безопасность</td>
            @foreach (var item in Model.RestrictionsPage.Restrictions)
            {
                if (item.ProjectId.Equals(RestrictionsPageViewModel.ProjectId))
                {
                    @if (item.Safety != null && item.Safety.Equals("Хорошо"))
                    {
                        <td class="col3"></td>
                    }
                    else if (item.Safety != null && item.Safety.Equals("Плохо"))
                    {
                        <td class="col1"></td>
                    }
                    else
                    {
                        <td class="col2"></td>
                    }
                }
            }

        </tr>
        <tr>
            <td>Данные</td>
            @foreach (var item in Model.RestrictionsPage.Restrictions)
            {
                if (item.ProjectId.Equals(RestrictionsPageViewModel.ProjectId))
                {
                    @if (item.Data != null && item.Data.Equals("Хорошо"))
                    {
                        <td class="col3"></td>
                    }
                    else if (item.Data != null && item.Data.Equals("Плохо"))
                    {
                        <td class="col1"></td>
                    }
                    else
                    {
                        <td class="col2"></td>
                    }
                }
            }

        </tr>
        <tr>
            <td>Сроки</td>
            @foreach (var item in Model.RestrictionsPage.Restrictions)
            {
                if (item.ProjectId.Equals(RestrictionsPageViewModel.ProjectId))
                {
                    @if (item.RedLine != null && item.RedLine.Equals("Хорошо"))
                    {
                        <td class="col3"></td>
                    }
                    else if (item.RedLine != null && item.RedLine.Equals("Плохо"))
                    {
                        <td class="col1"></td>
                    }
                    else
                    {
                        <td class="col2"></td>
                    }
                }
            }

        <tr>
            <td>Документ</td>
            @foreach (var item in Model.RestrictionsPage.Restrictions)
            {
                if (item.ProjectId.Equals(RestrictionsPageViewModel.ProjectId))
                {
                    @if (item.Document != null && item.Document.Equals("Хорошо"))
                    {
                        <td class="col3"></td>
                    }
                    else if (item.Document != null && item.Document.Equals("Плохо"))
                    {
                        <td class="col1"></td>
                    }
                    else
                    {
                        <td class="col2"></td>
                    }
                }
            }
        </tr>
        <tr>
            <td>Инфраструктура</td>
            @foreach (var item in Model.RestrictionsPage.Restrictions)
            {
                if (item.ProjectId.Equals(RestrictionsPageViewModel.ProjectId))
                {
                    @if (item.Infrastructure != null && item.Infrastructure.Equals("Хорошо"))
                    {
                        <td class="col3"></td>
                    }
                    else if (item.Infrastructure != null && item.Infrastructure.Equals("Плохо"))
                    {
                        <td class="col1"></td>
                    }
                    else
                    {
                        <td class="col2"></td>
                    }
                }
            }

        <tr>
            <td>Лицензия</td>
            @foreach (var item in Model.RestrictionsPage.Restrictions)
            {
                if (item.ProjectId.Equals(RestrictionsPageViewModel.ProjectId))
                {
                    @if (item.License != null && item.License.Equals("Хорошо"))
                    {
                        <td class="col3"></td>
                    }
                    else if (item.License != null && item.License.Equals("Плохо"))
                    {
                        <td class="col1"></td>
                    }
                    else
                    {
                        <td class="col2"></td>
                    }
                }
            }

        </tr>

    </table>

    <hr />
    <a class="btn badge-light border-dark" href="/Restrictions/AddTable">Добавить таблицу</a>
</div>
