@model RestrictionsPageViewModel
<div>
    <hr />
    <hr />
    <hr />
    <hr />
    <h2>
        Таблица ограничений проекта <br />
    </h2>
    <style type="text/css">
        body {
        }

        table {
            width: 100%; /* Ширина таблицы */
        }

        td {
            padding: 5px;
        }

            td.col1 {
                background: red;
                color: white;
            }

            td.col2 {
                background: orange;
                color: gray;
            }

            td.col3 {
                background: yellow;
            }
    </style>
    <table cellspacing="0">
        <tr>
            <td class="col1"><input type="text" id="ss" name="measurement" value="jdjdjjd" /></td>
            <td class="col2">Шаг 2</td>
            <td class="col3">Шаг 3</td>
        </tr>
    </table>
</div>
