@model Structure

<div class="row  mt-5 mb-5">
    <hr />
    <hr />
    <div class="currencies float-left">
        <h2>
            Удаленно успешно
        </h2>

    </div>
    <hr />
    <hr />

    <li class="nav-item active">
        <a class="nav-link" href="/Home/Index">Главная</a>
    </li>
</div>