@model MeetingModel

<div class="row  mt-5 mb-5">
    <hr />
    <hr />
    <div class="currencies float-left">
        <h2>
            Добавление значения
        </h2>

    </div>
    <hr />
    <hr />

    <form asp-action="AddNewParameters" method="post" class="form">
        <hr />
        <hr />
        <div class="form-group">
            <label asp-for="Number"></label>
            <div class="col-md-12">
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Question"></label>
            <div class="col-md-12">
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Comment"></label>
            <div class="col-md-12">
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Suggestion"></label>
            <div class="col-md-12">
                <input asp-for="Suggestion" class="form-control" />
                <span asp-validation-for="Suggestion" class="text-danger"></span>
            </div>
        </div>
        <input class="btn btn-success" type="submit" value="Добавить в таблицу" />
    </form>
</div>