@model MeetingsPageViewModel

<div class="container mt-5 mb-5">
    <hr />
    <hr />
    <div class="currencies float-left">
        <h2>
            Повестка текущей встречи <br />
        </h2>

        <h3>
            <table class="table">
                <tr><td>Номер</td><td>Вопрос к обсуждению:</td><td>Комментарий:</td><td>Предложения:</td></tr>
                @foreach (var item in Model.MeetingPageModel.MeetingModel)
                {
                    if (item.MeetingId.Equals(MeetingsPageViewModel.MeetingId))
                    {
                        <tr>
                            <td>@item.Number</td>
                            <td>@item.Question</td>
                            <td>@item.Comment</td>
                            <td>@item.Suggestion</td>
                        </tr>
                    }

                 }
            </table>
            <a class="btn btn-warning" href="/MeetingPage/AddNewParameters">Добавить значение</a>
        </h3>
        <hr>
    </div>
